@page
@model IndexModel
@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="text-center" style="font-family:'Times New Roman'">
    <h1 class="display-4">61.Ulusal Psikiyatri Kongresi</h1>
    <p>
        <a class="navbar-brand" asp-area="" asp-page="/E-Posterler"
           style="font-family:'Times New Roman'; color:black; text-decoration:underline;">
            E-Posterler
        </a>
    </p>
</div>
